body {
    background: #1e2d3b;
}

header {
    height: 70px;
    background-color: #2e3a46;
}

.logo {
    height: 45px;
}

.logo>img {
    height: 100%;
}

main {
    padding: 110px 0;
}

main>.filter {
    width: 200px;
    top: -50px;
}

.card {
    height: 100%;
    background-color: #2e3a46;
}

.card>img {
    width: 100%;
}


.filter_gen {
    width: 200px !important;
    top: -50px !important;
}